
.logo {
    width: 100%;
}

.demo {
    width: 100%;
}

.body {
    font-family: "Poppins";
    background-color: hsl(257, 40%, 49%);
    color: white
}

body .h1 {
    font-family: "Open Sans";
    color: white;
    font-weight: 700
}

body .h2 {
    font-family: "Open Sans";
    color: white;
    font-weight: 400
}

.button {
    border-radius: 10px;
    background-color: white;
    border-style: double;
    width: 150px;
    height: 30px;
    text-align: center;
    
}

