
.img {
    text-shadow: 
}

.body {
    font-family: "Poppins";
    background-color: hsl(257, 40%, 49%);
}

.h1 {
    font-family: "Open Sans";
}

.h2 {
    font-family: "Open Sans";
}

.button {
    border-radius: 50%;
    background-color: white;
    border-style: double;
}

